# dependencies
/node_modules

.env
base-config.ts

# Hardhat
/artifacts
/cache
/typechain-types

# logging
/logs

# misc
.DS_Store
config*.json
config*.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
_archivepackage-lock.json
/local
